{
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off"
  },
  "globals": {
    "DEV": "readonly"
  },
  "extends": ["eslint:recommended", "airbnb", "airbnb/whitespace", "prettier"]
}
